<?xml version="1.0" encoding="utf-8"?>
<!--
  Para usar este perfil:
  1. Importa tu .PublishSettings desde SmarterASP.NET
  2. O publica localmente: dotnet publish -p:PublishProfile=FolderProfile
  3. Sube los archivos de la carpeta 'publish' vía FTP
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>bin\Release\net8.0\publish\</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishReadyToRun>false</PublishReadyToRun>
  </PropertyGroup>
  <PropertyGroup>
    <SkipNSwag>True</SkipNSwag>
  </PropertyGroup>
</Project>
