<?xml version="1.0" encoding="utf-8"?>
<!--
  Perfil de publicación para Site4now.net usando Web Deploy (RECOMENDADO - Más rápido)
  Visual Studio te pedirá la contraseña al publicar
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://practicascitd-001-site1.anytempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <SkipNSwag>True</SkipNSwag>
    
    <!-- Configuración de MSDeploy -->
    <MSDeployServiceURL>https://win8145.site4now.net:8172/msdeploy.axd?site=practicascitd-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>practicascitd-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>
    <UserName>practicascitd-001</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>
