<?xml version="1.0" encoding="utf-8"?>
<!--
  Perfil de publicación para Site4now.net usando FTP
  Visual Studio te pedirá la contraseña al publicar
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://practicascitd-001-site1.anytempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SkipNSwag>True</SkipNSwag>
    
    <!-- Configuración de FTP -->
    <publishUrl>ftp://win8145.site4now.net:21/sistemafinanciero</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <UserName>practicascitd-001</UserName>
    <_SavePWD>True</_SavePWD>
    <FtpPassiveMode>True</FtpPassiveMode>
  </PropertyGroup>
</Project>
